/*Importando Fonte Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Importando Fonte Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Importando Fonte Barlow*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Media Screen para dispositivos small*/
@media screen and (max-width: 767px) {
  .border-only {
    border-top: 1px solid #e0e0e0;
  }

  footer div, p{
    text-align: center;
  }

  #footer-separacao{
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0px 10px;
  }
}


/*Media Screen para dispositivos large*/
@media screen and (min-width: 768px) {

  .border-only {
    border-left: 1px solid #e0e0e0;
  }

  section{
    
    max-width: 500px;
    height: 500px;
    }
  }

body{
  margin: 0;
  padding: 0;
  background-image: url('../images/background.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  font-family: 'Poppins', sans-serif;
}

/*Header*/

header{
  background-color: #141416;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

#logo{
  color: white;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

.nav-item {
  list-style: none;
  background-color: #141416;
  color: white;
}

.nav-item:hover {
  background-color: #282626;
}

/*Main*/
  
section{
  background-color: #3b4259;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

section h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 30pt;
}


section ul li, form label, p{
  font-size: 10pt;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}


a, a:hover{
  text-decoration: none;
  color: inherit;
}
  
/*Footer*/
  
footer{
background-color: #141416;
font-family: 'Barlow', sans-serif;
font-weight: 500;
font-size: small;
}
  
/*Classes personalizadas*/

.border-radius-card{
border-radius: 10px;
}

.btn-sign-up{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  border-radius: 25px;
  border-color: black;
  background-color: #1214408f;
  color:white;
  font-size: 10pt;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-sign-up:hover{
  color: #ffffff;
  background-color: #2f364b
}

.btn-enviar{
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  background-color: #91AAF2;
  color:white
}

.btn-enviar:hover{
  color: #ffffff;
  background-color: #2f364b;
}